body {
  font:
    16px Roboto,
    Arial,
    sans-serif;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  border-left: 5px solid black;
  border-right: 5px solid black;
}
header {
  padding: 1rem 0;
  border-top: 2em solid black;
  border-bottom: 1px inset rgba(0, 0, 0, 0.5);
  background-color: #fcf5e3;
  text-align: center;
}
figure {
  margin: 0;
  padding: 1rem 0;
}
.profile-image-container {
  padding-bottom: 90%;
  width: 90%;
  height: 0;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0;
  overflow: hidden;
}
.profile-image {
  width: 100%;
  margin-top: -25%;
}
article {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.column {
  margin: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.column section {
  width: 80%;
  margin-right: 5%;
}
section p {
  font-size: 1.2rem;
}
footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: black;
  color: white;
}
footer a,
footer a:link,
footer a:visited {
  color: white;
}
footer a:hover {
  color: #ffff00;
}
@media only screen and (max-width: 1024px) {
  .profile-image-container {
    padding-bottom: 80%;
    width: 80%;
  }
  section p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
  .column section {
    margin-right: 0;
  }
  .profile-image-container {
    padding-bottom: 70%;
    width: 70%;
  }
}
